.logo{
     text-align: center; 
    margin: 0;
    
}
.landing{
    align-items: center;
    font-style: italic;

}
exc{
    text-decoration-color: rgb(80, 3, 3);
}
card1{
    background-color:pink;
}