.logo{
     text-align: center; 
    margin: 0;
    
}
.landing{
    align-items: center;
    font-style: italic;

}
exc{
    text-decoration-color: rgb(80, 3, 3);
}
card33{
    background-color:rgb(17, 3, 6);
}
.Details{
    background-image: url(../images/plain2.svg);
    font-size: xx-large;
    font-weight: 500;
    font-style: normal;
    font: x-large;
    
}
#end{
    font-size: xx-large;
    font-weight: 500;
    font: xx-large;
    background-image: url(../images/plain4.svg);
    background-repeat: no-repeat;
    background-size: cover;
}
h5{
    font: xx-large;
    font-weight: 600;
}
h4{
    font: xx-large;
    font-weight: 600;  
}
.menus{
    background-image: url(../images/plain4.svg);
    background-size: cover;
}